# **Importing flat file from the web and saving locally**

In [3]:
from urllib.request import urlretrieve
import pandas as pd

In [4]:
url='https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'
urlretrieve(url,'winequality-red.csv')

('winequality-red.csv', <http.client.HTTPMessage at 0x7fe688c5c940>)

In [5]:
df=pd.read_csv('winequality-red.csv',sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

# **Importing flat file from the web without saving locally**

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
url='https://s3.amazonaws.com/assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'
df=pd.read_csv(url,sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [8]:
sns.set()
pd.DataFrame.hist(df[['fixed acidity']])
plt.xlabel('fixed acidity (g(tartaric acid)/dm$^3$)')
plt.ylabel('count')
plt.show()

# **Importing other file from the web and saving locally**

In [9]:
from urllib.request import urlretrieve
import pandas as pd

In [10]:
url='http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'
urlretrieve(url,'year.xlsx')

('year.xlsx', <http.client.HTTPMessage at 0x7fe63c514310>)

In [11]:
xls=pd.ExcelFile('year.xlsx')
print(xls.sheet_names)

['1700', '1900']

In [12]:
df1=xls.parse('1700')
df1.head()

,country,1700
0,Afghanistan,34.565000
1,Akrotiri and Dhekelia,34.616667
2,Albania,41.312000
3,Algeria,36.720000
4,American Samoa,-14.307000

# **Importing other file from the web without saving locally**

In [13]:
url='http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'
xls=pd.read_excel(url,sheet_name=None)

In [14]:
print(xls.keys())

dict_keys(['1700', '1900'])

In [15]:
df=xls['1700']
df.head()

,country,1700
0,Afghanistan,34.565000
1,Akrotiri and Dhekelia,34.616667
2,Albania,41.312000
3,Algeria,36.720000
4,American Samoa,-14.307000